Repository pascalguttmann/obat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pascalguttmann, @jannikgeng, @yunusclk, @mohamedshafi07, @Ranjithraj2001, @KovarthananS, @ruchik-mahesh, @Bardia788, @Kirtan-1315

add instance_1 adc test results
  docs/instance_1/meas/adc/adc.md
Owners: @pascalguttmann

add instance_1 meas test results
  docs/instance_1/meas/meas.md
  mkdocs.yml
Owners: @pascalguttmann

add enclosure test cases for peltier and heater
  docs/design/enclosure/enclosure.md
Owners: @jannikgeng, @yunusclk

fix enclosure pwm test case identifier
  docs/design/enclosure/pwm/pwm.md
Owners: @jannikgeng, @yunusclk

add instance_1 enclosure template for test results
  docs/instance_1/enclosure/dac/dac.md
  docs/instance_1/enclosure/digital-interface/digital-interface.md
  docs/instance_1/enclosure/enclosure.md
  docs/instance_1/enclosure/full-bridge/full-bridge.md
  docs/instance_1/enclosure/power/power.md
  docs/instance_1/enclosure/pwm/pwm.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 enclosure power test results
  docs/instance_1/enclosure/power/power.md
Owners: @pascalguttmann

add instance_1 enclosure dac test results
  docs/instance_1/enclosure/dac/dac.md
  docs/instance_1/enclosure/enclosure.md
Owners: @pascalguttmann

add instance_1 enclosure pwm test results
  docs/instance_1/enclosure/enclosure.md
  docs/instance_1/enclosure/pwm/pwm.md
Owners: @pascalguttmann

add instance_1 enclosure full-bridge test results
  docs/design/enclosure/full-bridge/full-bridge.md
  docs/instance_1/enclosure/enclosure.md
  docs/instance_1/enclosure/full-bridge/full-bridge.md
Owners: @jannikgeng, @yunusclk, @pascalguttmann

add instance_1 enclosure test results
  docs/instance_1/enclosure/enclosure.md
Owners: @pascalguttmann

add instace_1 enclosure mechanical heating/cooling
  docs/instance_1/enclosure/enclosure.md
Owners: @pascalguttmann

fix temperature symbol in latex
  docs/instance_1/enclosure/enclosure.md
Owners: @pascalguttmann

fix markdown heading
  docs/instance_1/enclosure/dac/dac.md
Owners: @pascalguttmann

add design overview images and simplify block diagram
  docs/design/obat_module_2.jpg
  docs/design/overview.md
Owners: @pascalguttmann

add instance_1 images
  docs/instance_1/instance_1.md
  docs/instance_1/obat_module_2.jpg
Owners: @pascalguttmann

.github/CODEOWNERS:

# Default codeowner for all files
* @pascalguttmann

# Design default codeowners
/docs/design/ @pascalguttmann

# Team codeowners
/docs/design/enclosure/ @jannikgeng @yunusclk # enclosure team members
/docs/design/esu/ @mohamedshafi07 @Ranjithraj2001 @KovarthananS # esu team members
/docs/design/meas/ @ruchik-mahesh @pascalguttmann @Bardia788 # meas team members
/docs/design/pss/ @pascalguttmann # powersupplysink team members
/docs/design/safety/ @Kirtan-1315 # safety team members
