Repository pascalguttmann/obat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pascalguttmann, @jannikgeng, @yunusclk, @mohamedshafi07, @Ranjithraj2001, @KovarthananS, @ruchik-mahesh, @Bardia788, @Kirtan-1315

add instance_1 outstage unit test results
  docs/instance_1/pss/power-electronics/outstage/outstage.md
Owners: @pascalguttmann

add instance_1 power test results
  docs/instance_1/pss/power/power.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 digital-interface test results
  docs/instance_1/pss/digital-interface/digital-interface.md
  mkdocs.yml
Owners: @pascalguttmann

add enhancement todo for digital-interface and power to reduce noise
  docs/design/pss/digital-interface/digital-interface.md
  docs/design/pss/power/power.md
Owners: @pascalguttmann

add instance_1 conf test results
  docs/instance_1/pss/conf/conf.md
Owners: @pascalguttmann

add submodule sw/pc/arduino_usb_spi_bridge
  .gitmodules
Owners: @pascalguttmann

fix instance_1 mkdocs.yaml link to conf page
  mkdocs.yml
Owners: @pascalguttmann

add todo fix rise time of digital outputs
  docs/design/pss/conf/conf.md
  docs/design/pss/digital-interface/digital-interface.md
Owners: @pascalguttmann

add conf warning for ad5672r to implement shift register
  docs/design/pss/conf/conf.md
Owners: @pascalguttmann

add instance_1 adc test results
  docs/instance_1/pss/adc/adc.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 relay test results
  docs/design/pss/relay/relay.md
  docs/instance_1/pss/relay/relay.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 meas test results
  docs/instance_1/pss/meas/meas.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 pss version of schematic and board layout used
  docs/instance_1/pss/pss.md
Owners: @pascalguttmann

add instance_1 window-comparator test results
  docs/instance_1/pss/limit-logic/compare-logic/compare-logic.md
  docs/instance_1/pss/limit-logic/compare-logic/window-comparator/window-comparator.md
  docs/instance_1/pss/limit-logic/limit-logic.md
  docs/instance_1/pss/limit-logic/mode-transition/mode-transition.md
  mkdocs.yml
Owners: @pascalguttmann

fix commissioning order mux must be powered for limit-logic tests
  docs/design/pss/pss.md
Owners: @pascalguttmann

add instance_1 compare-logic test result
  docs/instance_1/pss/limit-logic/compare-logic/compare-logic.md
Owners: @pascalguttmann

add instance_1 mode-transition test results
  docs/instance_1/pss/limit-logic/mode-transition/mode-transition.md
Owners: @pascalguttmann

fix instance_1 mode-transition results page (layout and latex display)
  docs/instance_1/pss/limit-logic/mode-transition/mode-transition.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 limit-logic test results
  docs/design/pss/limit-logic/limit-logic.md
  docs/instance_1/pss/limit-logic/limit-logic.md
Owners: @pascalguttmann

add instance_1 mux test results
  docs/design/pss/mux/mux.md
  docs/instance_1/pss/mux/mux.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 control test results
  docs/instance_1/pss/control/control.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 bias test results
  docs/design/pss/power-electronics/bias/bias.md
  docs/instance_1/pss/power-electronics/bias/bias.md
  mkdocs.yml
Owners: @pascalguttmann

add instance_1 power-electronics test results
  docs/design/pss/power-electronics/power-electronics.md
  docs/instance_1/pss/power-electronics/power-electronics.md
Owners: @pascalguttmann

add todo hint for wrong wiring for conf_ok check
  docs/design/pss/conf/conf.md
Owners: @pascalguttmann

add conf warning enameled wire fix of layout
  docs/instance_1/pss/conf/conf.md
Owners: @pascalguttmann

fix pss shortcircuit test description
  docs/design/pss/pss.md
Owners: @pascalguttmann

add instance_1 instance specifics for pss
  docs/instance_1/pss/control/control.md
  docs/instance_1/pss/meas/meas.md
  docs/instance_1/pss/power-electronics/bias/bias.md
Owners: @pascalguttmann

add instance_1 measurement offset adjustment
  docs/design/meas/meas.md
  docs/instance_1/pss/meas/meas.md
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add instance_1 pss test results
  docs/instance_1/pss/pss.md
Owners: @pascalguttmann

add instance_1 pss images
  docs/instance_1/pss/pss.md
Owners: @pascalguttmann

add instance_1 image
  docs/instance_1/instance_1.md
Owners: @pascalguttmann

fix submodule name hw/ecad/pss to hw/pss
  .gitmodules
Owners: @pascalguttmann

remove mkdocs videos from documentation
  README.md
  docs/README.md
  docs/tutorial-vids.md
  mkdocs.yml
  requirements.txt
Owners: @pascalguttmann

Update ci.yml
  .github/workflows/ci.yml
Owners: @pascalguttmann

Update ci.yml
  .github/workflows/ci.yml
Owners: @pascalguttmann

Update ci.yml
  .github/workflows/ci.yml
Owners: @pascalguttmann

add enclosure documentation skeleton
  docs/design/enclosure/enclosure.md
  mkdocs.yml
Owners: @jannikgeng, @yunusclk, @pascalguttmann

add info for used heating/cooling elements and fan as specified by WING faculty team
  docs/design/enclosure/mechanical/mechanical.md
Owners: @jannikgeng, @yunusclk

add enclosure input output power spec
  docs/design/enclosure/enclosure.md
Owners: @jannikgeng, @yunusclk

fix enclosure mechanical naming
  docs/design/enclosure/mechanical/mechanical.md
Owners: @jannikgeng, @yunusclk

.github/CODEOWNERS:

# Default codeowner for all files
* @pascalguttmann

# Design default codeowners
/docs/design/ @pascalguttmann

# Team codeowners
/docs/design/enclosure/ @jannikgeng @yunusclk # enclosure team members
/docs/design/esu/ @mohamedshafi07 @Ranjithraj2001 @KovarthananS # esu team members
/docs/design/meas/ @ruchik-mahesh @pascalguttmann @Bardia788 # meas team members
/docs/design/pss/ @pascalguttmann # powersupplysink team members
/docs/design/safety/ @Kirtan-1315 # safety team members
