Repository pascalguttmann/obat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pascalguttmann, @jannikgeng, @yunusclk, @mohamedshafi07, @Ranjithraj2001, @KovarthananS, @ruchik-mahesh, @Bardia788, @Kirtan-1315

.github/CODEOWNERS:

# Default codeowner for all files
* @pascalguttmann

# Design default codeowners
/docs/design/ @pascalguttmann

# Team codeowners
/docs/design/enclosure/ @jannikgeng @yunusclk # enclosure team members
/docs/design/esu/ @mohamedshafi07 @Ranjithraj2001 @KovarthananS # esu team members
/docs/design/meas/ @ruchik-mahesh @pascalguttmann @Bardia788 # meas team members
/docs/design/pss/ @pascalguttmann # powersupplysink team members
/docs/design/safety/ @Kirtan-1315 # safety team members

add enclosure circuit description and block diagram
  docs/design/enclosure/enclosure.md
Owners: @jannikgeng, @yunusclk

add hw/enclosure submodule
  .gitmodules
Owners: @pascalguttmann

add digital interface from pss
  docs/design/enclosure/digital-interface/digital-interface.md
  mkdocs.yml
Owners: @jannikgeng, @yunusclk, @pascalguttmann

update pss/digital-interface todos
  docs/design/pss/digital-interface/digital-interface.md
Owners: @pascalguttmann

add enclosure digital-interface load resistor
  docs/design/enclosure/digital-interface/digital-interface.md
Owners: @jannikgeng, @yunusclk

edit enclosure digital-interface add esd protection resistor
  docs/design/enclosure/digital-interface/digital-interface.md
Owners: @jannikgeng, @yunusclk

add pss digital-interface todos
  docs/design/pss/digital-interface/digital-interface.md
Owners: @pascalguttmann

edit enclosure/digital-interface isolation test for 1M Ohm esd resistor
  docs/design/enclosure/digital-interface/digital-interface.md
Owners: @jannikgeng, @yunusclk

add enclosure dac docuementation
  docs/design/enclosure/dac/channel_map.md
  docs/design/enclosure/dac/dac.md
  mkdocs.yml
Owners: @jannikgeng, @yunusclk, @pascalguttmann

add enclosure dac rise time limitation for signal integrity
  docs/design/enclosure/dac/dac.md
Owners: @jannikgeng, @yunusclk

add enclosure pwm component
  docs/design/enclosure/pwm/pwm.md
  mkdocs.yml
Owners: @jannikgeng, @yunusclk, @pascalguttmann

add enclosure pwm input output spec
  docs/design/enclosure/pwm/pwm.md
Owners: @jannikgeng, @yunusclk

add enclosure pwm circuit description
  docs/design/enclosure/pwm/pwm.md
Owners: @jannikgeng, @yunusclk

add enclosure pwm test cases
  docs/design/enclosure/pwm/pwm.md
Owners: @jannikgeng, @yunusclk

add enclosure full bridge doc skeletorn
  docs/design/enclosure/full-bridge/full-bridge.md
  mkdocs.yml
Owners: @jannikgeng, @yunusclk, @pascalguttmann

add enclosure full-bridge doc page
  docs/design/enclosure/full-bridge/full-bridge.md
Owners: @jannikgeng, @yunusclk

add enclosure power doc
  docs/design/enclosure/power/power.md
  mkdocs.yml
Owners: @jannikgeng, @yunusclk, @pascalguttmann

add enclosure increased output capacitance
  docs/design/enclosure/power/power.md
Owners: @jannikgeng, @yunusclk

add enclosure missing doc
  docs/design/enclosure/enclosure.md
Owners: @jannikgeng, @yunusclk

add enclosure dac channel map
  docs/design/enclosure/dac/channel_map.md
Owners: @jannikgeng, @yunusclk

add template obat.kicad_pcb pcb with mounting holes and edge cuts
  docs/design/template/obat.kicad_pcb
Owners: @pascalguttmann

fix TODO hint in wrong file
  docs/design/meas/meas.md
  docs/design/pss/meas/meas.md
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add measurement overview doc
  docs/design/meas/discuss/adc.md
  docs/design/meas/discuss/ads8661 with marking.pdf
  docs/design/meas/discuss/isoamp.md
  docs/design/meas/discuss/misc.md
  docs/design/meas/meas.md
  mkdocs.yml
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add esu current transducer hint
  docs/design/esu/esu.md
Owners: @mohamedshafi07, @Ranjithraj2001, @KovarthananS

add esu hint for digital isolation
  docs/design/esu/esu.md
Owners: @mohamedshafi07, @Ranjithraj2001, @KovarthananS

add hw/meas submodule
  .gitmodules
Owners: @pascalguttmann

fix obat.kicad_pcb eurocard pcb template: duplicate mounting hole
  docs/design/template/obat.kicad_pcb
Owners: @pascalguttmann

add meas test cases
  docs/design/meas/meas.md
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add meas digital-interface doc
  docs/design/meas/digital-interface/digital-interface.md
  mkdocs.yml
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add meas iso-dcdc doc
  docs/design/meas/iso-dcdc/iso-dcdc.md
  mkdocs.yml
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add meas adc doc
  docs/design/meas/adc/adc.md
  mkdocs.yml
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add meas i-transduce doc
  docs/design/meas/i-transduce/i-transduce.md
  mkdocs.yml
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add meas power doc
  docs/design/meas/power/power.md
  mkdocs.yml
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add instance_1 accuracy measurement data
  docs/instance_1/accurracy_measurement.xlsx
Owners: @pascalguttmann

add instance_1 meas commissioning page skeleton
  docs/instance_1/meas/meas.md
Owners: @pascalguttmann

add instance_1 meas power test results
  docs/design/meas/power/power.md
  docs/instance_1/meas/power/power.md
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add instance_1 meas iso-dcdc test results
  docs/instance_1/meas/iso-dcdc/iso-dcdc.md
Owners: @pascalguttmann

adapt instance_1 power current sharing resistor
  docs/design/meas/power/power.md
  docs/instance_1/meas/power/power.md
Owners: @ruchik-mahesh, @pascalguttmann, @Bardia788

add instance_1 i-transduce test results
  docs/instance_1/meas/i-transduce/i-transduce.md
Owners: @pascalguttmann

add instance_1 digital-interface test results
  docs/instance_1/meas/digital-interface/digital-interface.md
Owners: @pascalguttmann
